<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>reddit:<%= @subreddit %></id>
  <title><%= @subreddit %> on Reddit</title>
  <icon>https://www.redditstatic.com/icon.png</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://www.reddit.com/r/<%= @subreddit %>/" rel="alternate" />
  <updated><%= Time.at(@data[0]["data"]["created"].to_i) if @data[0]["data"] %></updated>
<%- @data.each do |post| -%>

  <entry>
    <id>reddit:post:<%= post["data"]["name"] %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%= post["data"]["title"].to_line.esc %></title>
    <link href="https://www.reddit.com<%= post["data"]["permalink"].esc %>" />
    <updated><%= Time.at(post["data"]["created"].to_i) %></updated>
    <author><name>/u/<%= post["data"]["author"].esc %></name><uri>https://www.reddit.com/user/<%= post["data"]["author"].esc %></uri></author>
    <upvotes><%= post["data"]["ups"] %></upvotes>
    <comments><%= post["data"]["num_comments"] %></comments>
    <content type="html">
<%= <<~EOF.esc
  #{post["data"]["selftext"].to_paragraphs}
  
  <!-- SC_ON --> &#32; submitted by &#32; <a href="https://www.reddit.com/user/#{post["data"]["author"]}"> /u/#{post["data"]["author"]} </a> <br/> <span><a href="#{post["data"]["url"]}">[link]</a></span> &#32; <span><a href="https://www.reddit.com#{post["data"]["permalink"]}">[comments]</a></span>
EOF
-%>
    </content>
  </entry>
<%- end -%>
</feed>
