<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>reddit:<%= @subreddit %></id>
  <title><%= @subreddit %> on Reddit</title>
  <icon>https://www.redditstatic.com/icon.png</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://www.reddit.com/r/<%= @subreddit %>/" rel="alternate" />

<%- @data.each do |post| -%>

  <entry>
    <id>reddit:post:<%= post["data"]["name"] %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%= post["data"]["title"].to_line.esc %></title>
    <link href="<%= post["data"]["url"].esc %>" />
    <updated><%= Time.parse(track["created_time"]) %></updated>
    <author><name>/u/<%= post["data"]["author"].esc %></name><uri>https://www.reddit.com/user/<%= post["data"]["author"].esc %></uri></author>
    <upvotes><%= post["data"]["ups"] %></upvotes>
    <comments><%= post["data"]["num_comments"] %></comments>
    <content type="html">
<%= <<~EOF.esc
  #{post["data"]["selftext"].to_paragraphs}
EOF
-%>
    </content>
  </entry>
<%- end -%>
</feed>
